:root {
    --azulMarino: #100c3c;
    --azulAburrido: #1c2c6c;
    --blanco: #FFFFFF;
    --grisOscuro: #333333;
    --naranjaFuerte: #DBB61B;
    --negro: #000000;
    --blancoGris: #F6F6F6;
    --fontPrincipal: 'Didact Gothic', sans-serif;
    --fontTerciaria: 'Montserrat', sans-serif;
    --fonth: 'Quicksand', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* GLOBALES */

body {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--grisOscuro);
    background-color: var(--blanco);
}

a {
    text-decoration: none;
    font-family: var(--fontPrincipal);
    font-size: 1.7rem;
}


h1 {
    font-size: 3.5rem;
    font-family: var(--fonth);
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
    color: var(--azulAburrido);
    font-family: var(--fontPrincipal);
}

h4 {
    font-size: 1.3rem;
    color: var(--negro);
    font-family: var(--fontTerciaria);
}

.texto {
    color: var(--naranjaFuerte);
    font-family: var(--fontPrincipal);
}

.separar {
    padding-left: 1rem;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    background-color: var(--azulAburrido);
    padding: .3rem 0;
}

.encabezado__navegacion {
    color: var(--blanco);
}

.encabezado__parte1 {
    margin-left: 5rem;
}

.encabezado__parte2 {
    margin-right: 5rem;
}

/* NAVEGACION */

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blanco);
}

.opciones {
    color: var(--grisOscuro);
    font-family: var(--fontPrincipal);
    margin-right: 3rem;
}

.barra figure {
    width: 22rem;
}

.barra__logo {
    width: 80%;
}

/* ESPACIO */
.entre {
    background-color: var(--azulMarino);
    padding: 2rem;
}

.entre__probando {
    color: var(--azulMarino);
}

/* GALERIA */
.galeria__imagen {
    width: 100%;
}

/* CONTENEDOR */

.presentacion {
    width: 80rem;
    padding-left: 8rem;
}

.informacion__texto {
    font-family: var(--fontPrincipal);
    font-size: 2rem;
    width: 85%;
    line-height: 1.4;
    background-color: var(--blanco);
    position: relative;
    right: 6rem;
    padding-left: 3rem;
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .informacion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: var(--blanco);
        column-gap: 2rem;
        align-items: center;
        padding-bottom: 4rem;
        padding-top: 3rem;
        -webkit-box-shadow: 2px 10px 5px -3px rgba(232, 232, 232, 1);
        -moz-box-shadow: 2px 10px 5px -3px rgba(232, 232, 232, 1);
        box-shadow: 2px 10px 5px -3px rgba(232, 232, 232, 1);
    }
}

.sombra {
    -webkit-box-shadow: 5px -1px 7px 3px rgba(240, 231, 240, 1);
    -moz-box-shadow: 5px -1px 7px 3px rgba(240, 231, 240, 1);
    box-shadow: 5px -1px 7px 3px rgba(240, 231, 240, 1);
    background-color: var(--blanco);
}

/* FINAL */

.final {
    background-color: var(--blanco);
    max-width: 70%;
    /*Marco de la pagina web, para poner el contenido*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    line-height: .8;
    padding-top: 3rem;
}

.final__logo {
    width: 20rem;
    padding-bottom: 3rem;
}

.final__iconos {
    margin-right: 10rem;
}

.final__sociales {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    width: 80%;
}

.final__caja__informacion {
    padding-bottom: 3rem;
}

/* PRODUCTOS */

.contenidoProducto {
    max-width: 98%;
    /*Marco de la pagina web, para poner el contenido*/
    margin: 0 auto;
    justify-content: center;
}

.marcoContenido {
    background-color: var(--blanco);
    padding-bottom: 3rem;
}

.producto__imagen {
    width: 100%;
}

.titulo__producto {
    font-family: var(--fonth);
    text-align: center;
    font-size: 4rem;
    color: var(--azulAburrido);
}

.contenidoProducto p {
    font-family: var(--fontPrincipal);
    text-align: center;
    font-size: 1.8rem;
    line-height: .2;
}

.contenidoProducto h1 {
    color: var(--azulAburrido);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-top: 3rem;
}

.producto {
    background-color: var(--blancoGris);
    padding: 1.5rem;
}

.producto p {
    font-family: var(--fontPrincipal);
    font-weight: bold;
    color: var(--azulMarino);
    font-size: 2rem;
    text-align: center;
}

/* MAPA */

.mapa {
    -webkit-box-shadow: 0px -8px 6px 0px rgba(214, 214, 214, 0.42);
    -moz-box-shadow: 0px -8px 6px 0px rgba(214, 214, 214, 0.42);
    box-shadow: 0px -8px 6px 0px rgba(214, 214, 214, 0.42);
}

.mapa__imagen {
    width: 100%;
}

/* ALIADOS ESTRATEGICOS */
.aliadosEstrategicos {
    background-color: var(--azulAburrido);
}

.aliadosEstrategicos h1 {
    color: var(--blanco);
    padding-top: 4rem;
}

.logosEmpresas {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.aliados__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 85%;
    /*Marco de la pagina web, para poner el contenido*/
    margin: 0 auto;
    column-gap: 3rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.aliados__caja {
    display: grid;
    background-color: var(--blanco);
    text-align: center;
    justify-items: center;
    margin: 1rem;
}

.aliados__caja img {
    width: 12%;
}

.aliados__caja h2 {
    font-family: var(--fonth);
    font-weight: 400;
    color: var(--azulAburrido);
}

.aliados__caja p {
    font-family: var(--fontPrincipal);
    font-size: 1.8rem;  
    margin: 1.5rem;
}

/* FOOTER */
footer {
    background-color: var(--azulMarino);
    padding: .2rem 0;
    margin-top: 2rem;
}

footer p {
    color: var(--blanco);
    font-family: var(--fontTerciaria);
    font-size: 1.2rem;
    text-align: center;
}